<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Honda {% endblock title %}</title>
</head>
<body>
<header>
    <img src="https://images.ua.prom.st/1118864173_w700_h500_patrubok-17226rfwg00.jpg" height="300"
    <nav>
        <a href="{%url 'Honda'%}">Honda</a>
        <a href="{%url 'NSX'%}">NSX</a>
        <a href="{%url 'civic'%}">Civic typeR</a>
    </nav>
</header>
{% block content %}
<p>Honda Motor Co., Ltd. (яп. 本田技研工業株式会社 хонда гикэн ко:гё кабусики гайся) — японская публичная многонациональная корпорация, основанная в 1948 году изобретателем и предпринимателем Соитиро Хондой и финансистом Такэо Фудзисавой, известная прежде всего как производитель автомобилей, мотоциклов и силового оборудования. Honda является крупнейшим производителем мотоциклов в мире с 1959 года[2][3], достигнув 400 миллионов произведённых мотоциклов к концу 2019[4], а также крупнейший в мире производитель двигателей внутреннего сгорания, производящий более 14 миллионов двигателей внутреннего сгорания ежегодно[5]. В 2001 году Honda стала вторым по величине японским производителем автомобилей[6][7]. В 2015 году Honda была восьмым по величине производителем автомобилей в мире[8].

Honda была первым японским производителем автомобилей, выпустившим в 1986 году специальный люксовый бренд — Acura. Помимо основного автомобильного и мотоциклетного бизнеса, Honda также производит садовое оборудование, лодочные двигатели, гидроциклы и генераторы, а также другую продукцию. С 1986 года Honda занимается исследованиями в области искусственного интеллекта и робототехники и в 2000 году выпустила своего робота ASIMO. Они также занялись аэрокосмической отраслью, основав GE Honda Aero Engines 2004, компания представила Honda HA-420 HondaJet в 2012 году. У Honda есть три совместных предприятия в Китае: Honda China, Dongfeng Honda и Guangqi Honda.

В 2013 году Honda инвестировала около 5,7 % (6,8 млрд долларов США) своей выручки в исследования и разработки[9]. Также в 2013 году Honda стала первым японским автопроизводителем, который стал нетто-экспортером из США, экспортировав 108 705 моделей Honda и Acura, а импортировав только 88 357[10].

Основные производственные мощности расположены в Японии, США, Индии и Бразилии, основные рынки сбыта — США и юго-восточная Азия. Девиз компании — «The Power of Dreams» («Сила воображения») </p>
{% endblock content %}

{% include 'aside.html'%}

<footer>
    <div>tel:3222233</div>
</footer>

</body>
</html>