<{%extends 'base.html' %}

{% block title %} Civic {% endblock title %}

{% block content %}
<p>Honda Civic Type R — спортивная версия Honda Civic. Буква R в слове «Type R» происходит от английского слова racing («гоночный»), и обозначает спортивный характер автомобиля (как и у других автомобилей Honda с буквой «R» в конце своего названия — Type R, Euro R, SIR, характерной чертой которых является эмблема Honda на красном фоне — как на болиде RA-272, который принёс японской марке первую победу в Гран-при Формула-1 в Мексике, в 1965 году).

    1991 год — на модели Civic SiR впервые появилась литера R. Это было уже четвёртое поколение Civic. Автомобиль имел 16-клапанный двигатель семейства B16A объёмом 1,6 л, был оснащён системой DOHC VTEC и развивал 160 л. с.
    1992 год — дебютировал новый Civic SiR, на базе пятого поколения Civic — с прежним двигателем, мощность которого возросла до 165 л. с.(A/T) и 175 л. с. (М/Т).</p>
{% endblock content %}