{%extends 'base.html' %}

{% block title %} NSX {% endblock title %}

{% block content %}
<p>Honda NSX — спортивный автомобиль со среднемоторной компоновкой, производившийся компанией Honda с 1990 по 2005 г. В Северной Америке и Гонконге продавался под маркой Acura. При проектировании было использовано множество новаторских решений: это первый автомобиль, кузов и шасси которого изготовлены из алюминия, оснащался полностью электронным усилителем руля, электронной педалью газа (так называемый Drive-by-Wire), двигатель имел V-образное расположение цилиндров, максимальное количество оборотов 8000 в минуту, и недосягаемые по тем временам показатели мощности для атмосферных двигателей, впервые шатуны изготовлены из титана, впервые в мире комплектовался платиновыми свечами зажигания. Для лучшей аэродинамики днище автомобиля было плоским, а форма задней части кузова помогала максимально снизить силу отрыва колёс от поверхности на высоких скоростях[1]. </p>
{% endblock content %}